.form-mobile {
  display: block;
  height: 100vh;
  min-width: 350px;
  background-color: #161A41;
  margin: 0;
  border: 1px solid #fff;
}
.form-desktop {
  display: none;
}

.login-form,
.reg-form,
.reset-form,
.verify-form {
  height: 100vh;
  background-color: #161A41;
  text-align: center;
  position: relative;
}

.reg-form {
  background-color: #1F5F82;
}

.login-form h2,
.reg-form h2,
.reset-form h2,
.verify-form h2 {
  font-weight: 900;
  letter-spacing: 0.25rem;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 1px 1px #000;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: #c7c5c5;
}

input, .password-div  {
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.verifying, .loading {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #1F5F82;
}

.loading {
  color: #FFF;
}

.spinner-border {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  vertical-align: text-bottom;
  border: 0.4rem solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

@-webkit-keyframes spinner-border {
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.error-message {
  height: 1.25rem;
  color: #fff
}

.login-btn,
.reg-btn,
.confirm-btn,
.reset-btn {
  margin: 1.5rem;
  padding: 0.25rem 1rem;
  border: 2px solid #fff;
  background-color: #161A41;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 0.5rem;
}

.reg-btn {
  background-color: #1F5F82;
}

.login-btn:hover, .confirm-btn:hover, .reset-btn:hover {
  background-color: #283078;
}

.reg-btn:hover {
  background-color: #1C8CAB;
}

.message {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .form-mobile {
    display: none;
  }
  .form-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
  }
  .login-form {
    border-radius: 1rem;
    width: 400px;
    height: 650px;
    border: 4px solid #fff;
  }
  .reset-form {
    border-radius: 1rem;
    width: 400px;
    height: 525px;
    border: 4px solid #fff;
  }
  .verify-form {
    border-radius: 1rem;
    width: 400px;
    height: 500px;
    border: 4px solid #fff;
  }
  .reg-form {
    border-radius: 1rem;
    width: 400px;
    height: 700px;
    border: 4px solid #fff;
  }
}

