@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0,212,239);
  background: linear-gradient(0deg, rgba(0,212,239,1) 0%, rgba(22,26,65,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

a {
  color : #fff;
}

@media screen and (min-width: 768px) {
  .heading {
    margin: 2rem auto;
    font-size: 4rem;
  }
}
