* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0,212,239);
  background: linear-gradient(0deg, rgba(0,212,239,1) 0%, rgba(22,26,65,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}