* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0,212,239);
  background: linear-gradient(0deg, rgba(0,212,239,1) 0%, rgba(22,26,65,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

table {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .heading {
    margin: 2rem auto;
    font-size: 4rem;
  }
  table {
    font-size: 1.25rem;
  }
}
