.mobile-table, .desktop-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
}

.heading {
  margin: 1rem auto;
  font-size: 3rem;
}

.desktop-table {
  display: none;
}

table {
  font-size: 1.1rem;
  padding: 0 1rem;
}

.tablerow {
  height: 40px;
  border-bottom: 0.5px solid #e9e7e7;
}

@media screen and (min-width: 768px) {
  .heading {
    margin: 2rem auto;
    font-size: 4rem;
  }
  .mobile-table {
    display: none;
  }
  .desktop-table {
    display: flex;
  }
  .tablerowhead {
    width: 150px;
  }
  .tablehead {
    width: 100px;
  }
}