.mobile-table, .desktop-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
}

.desktop-table {
  display: none;
}

@media screen and (min-width: 768px) {
  .heading {
    margin: 2rem auto;
    font-size: 4rem;
  }
  .mobile-table {
    display: none;
  }
  .desktop-table {
    display: flex;
  }
}